@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&family=Sulphur+Point:wght@300;400;700&display=swap");

@font-face {
  font-family: "Cubano";
  src: url("../fonts/Cubano.ttf");
}

@font-face {
  font-family: "Modulus";
  src: url("../fonts/Modulus.ttf");
}
@font-face {
  font-family: "Modulus-Medium";
  src: url("../fonts/Modulus_Medium.ttf");
}
@font-face {
  font-family: "Modulus-Bold";
  src: url("../fonts/Modulus-Bold.otf");
}
@font-face {
  font-family: "Stellar";
  src: url("../fonts/Stellar.otf");
}
@font-face {
  font-family: "Stellar-Light";
  src: url("../fonts/Stellar-light.otf");
}
@font-face {
  font-family: "Stellar-Medium";
  src: url("../fonts/Stellar-Medium.otf");
}
@font-face {
  font-family: "Stellar-Bold";
  src: url("../fonts/Stellar-Bold.otf");
}
