$primary: #b55be4;
$_unused: #7A1CAC;
$purple: #7E60BF;
$secondary: #2E073F;
$background: #151515;
$background-secondary: #222;
$tertiary-purple: #EBD3F8;
$primary-gray: #454545;
$primary-blue: #00adb5;
$primary-red: #ff0032;
$primary-white: #fdf6f0;